@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .input {
    @apply bg-dark-4 border-none outline-none ring-0 text-white text-base placeholder:!text-white placeholder:opacity-60;
  }

  .main-title {
    @apply text-4xl font-bold max-sm:text-3xl;
  }
}

.cl-socialButtonsIconButton {
  background-color: #1f1f22;
}

.cl-socialButtonsIconButton__github img {
  filter: invert(1);
}

.cl-userPreviewAvatarBox {
  width: 2rem;
  height: 2rem;
}

.cl-organizationPreviewAvatarBox {
  width: 2rem;
  height: 2rem;
}

input[type="file"]::file-selector-button {
  color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121417;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #877eff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #877eff;
}

@media only screen and (max-width: 640px) {
  .cl-organizationSwitcherTrigger .cl-internal-3gh7hq,
  .cl-organizationPreviewMainIdentifier__organizationSwitcherTrigger {
    display: none;
  }

  .cl-internal-1dhljuu,
  .cl-internal-1jx9yjj {
    gap: 0;
  }

  .cl-organizationSwitcherPopoverCard {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
