@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
}

@layer utilities {
}

.cl-socialButtonsIconButton {
  background-color: #1f1f22;
}

.cl-socialButtonsIconButton__github img {
  filter: invert(1);
}

@media only screen and (max-width: 640px) {
  .cl-organizationSwitcherTrigger .cl-internal-3gh7hq {
    display: none;
  }

  .cl-internal-1dhljuu {
    gap: 0;
  }

  .cl-organizationSwitcherPopoverCard {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
